.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

# Virtual environments
venv/

# Uploads or media
uploads/

# VSCode or PyCharm
.vscode/
.idea/test_videos/
./test_videos
./test_results
./test_results_1sec
stt_parallel_test.log
test_videos/
test_results/
test_results_1sec/
test_videos/*.mp4
test_results_hybrid/